# .NET / C#
[Bb]in/
[Oo]bj/
out/
.vscode/
.vs/
*.user
*.userosscache
*.sln.docstates
*.csproj.user
packages/
*.nupkg

# Server side
server/SmartWarehouse/appsettings.json
server/SmartWarehouse.Database/Migrations/

# C++ / Visual Studio
ipch/
*.aps
*.intermediate.manifest
*.pdb
*.ilk
*.exp
*.lib
*.exe
*.sdf
*.opensdf
*.suo
*.db
*.opendb
Debug/
Release/
x64/
x86/
build/
*.o
*.obj
*.dll
*.exe

# OS files
.DS_Store
Thumbs.db
desktop.ini

# VS Code
.history/
*.log
*.tmp

# Project specific
firmware/build/
firmware/.pio/

# Хуйня ненужная
firmware/robot_controller/.pio
firmware/robot_controller/.vscode/.browse.c_cpp.db*
firmware/robot_controller/.vscode/c_cpp_properties.json
firmware/robot_controller/.vscode/launch.json
firmware/robot_controller/.vscode/ipch

# Obsidian
docs/KODA/.obsidian

# Some configs (No hands, no candy)
mqtt-conf/